/* Ryans remarks: 
This is NOT the way we should do responsive design
but since we need ie8 support, we'll have to do it the hard way.
*/


/* Fix paddings */
div, article, section, header { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

/* Column code based on work from cssgrid.net http://www.columnal.com/ */
#container {padding-left: 20px; padding-right: 40px;}
.row {clear: both; width: 100%; max-width: 1140px; margin: 0 auto;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 {float: left; margin-right: 3.8%; position: relative;}

.col-1 {width: 4.85%;}  /* ie - 4.7% */
.col-2 {width: 13.5%;}  /* ie - 13.2% */
.col-3 {width: 22.15%;} /* ie - 22.05% */
.col-4 {width: 30.8%;}  /* ie - 30.6% */
.col-5 {width: 39.45%;} /* ie - 39% */
.col-6 {width: 48.1%;}  /* ie - 48% */
.col-7 {width: 56.75%;} /* ie - 56.75% */
.col-8 {width: 65.4%;}  /* ie - 61.6% */
.col-9 {width: 74.05%;} /* ie - 74.05% */
.col-10 {width: 82.7%;} /* ie - 82.7% */
.col-11 {width: 91.35%;}/* ie - 91.35% */
.col-12 {clear: both; width: 100%; float: left;}


.last {margin-right: 0 !important;}
img, object, embed {max-width: 100%;}


.row:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


/*
-------------------------------
Columnal - sub-columns */

.col-2 { 
    .col-1 { margin-right: 28.62%; width: 35.69%; }
    .pre-1 { padding-left: 35.69%; }
    .suf-1 { padding-right: 35.69%; }
}
.col-3 { 
    .col-2 { margin-right: 17.45%; width: 60.86%; }
    .col-1 { margin-right: 17.45%; width: 21.7%; }
    .pre-1 { padding-left: 21.7%; }
    .pre-2 { padding-left: 60.86%; }
    .suf-1 { padding-right: 21.7%; }
    .suf-2 { padding-right: 60.86%; }
}
.col-4 { 
    .col-3 { margin-right: 12.36%; width: 71.91%; }
    .col-2 { margin-right: 12.36%; width: 43.82%; }
    .col-1 { margin-right: 12.36%; width: 15.73%; }
    .pre-1 { padding-left: 28.09%; }
    .pre-2 { padding-left: 56.18%; }
    .pre-3 { padding-left: 84.27%; }
    .suf-1 { padding-right: 28.09%; }
    .suf-2 { padding-right: 56.18%; }
    .suf-3 { padding-right: 84.27%; }
}
.col-5 { 
    .col-4 { margin-right: 9.7%; width: 78%; }
    .col-3 { margin-right: 9.7%; width: 56.28%; }
    .col-2 { margin-right: 9.7%; width: 34%; }
    .col-1 { margin-right: 9.7%; width: 12.24%; }
    .pre-1 { padding-left: 21.94%; }
    .pre-2 { padding-left: 43.7%; }
    .pre-3 { padding-left: 65.98%; }
    .pre-4 { padding-left: 87.7%; }
    .suf-1 { padding-right: 21.94%; }
    .suf-2 { padding-right: 43.7%; }
    .suf-3 { padding-right: 65.98%; }
    .suf-4 { padding-right: 87.7%; }
}
.col-6 { 
    .col-5 { margin-right: 7.77%; width: 82%; }
    .col-4 { margin-right: 7.77%; width: 64.1%; }
    .col-3 { margin-right: 7.77%; width: 46.11%; }
    .col-2 { margin-right: 7.77%; width: 28.13%; }
    .col-1 { margin-right: 7.77%; width: 10.19%; }
    .pre-1 { padding-left: 89.77%; }
    .pre-2 { padding-left: 71.87%; }
    .pre-3 { padding-left: 53.88%; }
    .pre-4 { padding-left: 35.9%; }
    .pre-5 { padding-left: 17.96%; }
    .suf-1 { padding-right: 89.77%; }
    .suf-2 { padding-right: 71.87%; }
    .suf-3 { padding-right: 53.88%; }
    .suf-4 { padding-right: 35.9%; }
    .suf-5 { padding-right: 17.96%; }
}
.col-7 { 
    .col-6 { margin-right: 6.56%; width: 84.78%; }
    .col-5 { margin-right: 6.56%; width: 69.56%; }
    .col-4 { margin-right: 6.56%; width: 54.33%; }
    .col-3 { margin-right: 6.56%; width: 39.11%; }
    .col-2 { margin-right: 6.56%; width: 23.88%; }
    .col-1 { margin-right: 6.56%; width: 8.66%; }
    .pre-1 { padding-left: 15.22%; }
    .pre-2 { padding-left: 30.44%; }
    .pre-3 { padding-left: 45.67%; }
    .pre-4 { padding-left: 60.89%; }
    .pre-5 { padding-left: 76.12%; }
    .pre-6 { padding-left: 91.34%; }
    .suf-1 { padding-right: 15.22%; }
    .suf-2 { padding-right: 30.44%; }
    .suf-3 { padding-right: 45.67%; }
    .suf-4 { padding-right: 60.89%; }
    .suf-5 { padding-right: 76.12%; }
    .suf-6 { padding-right: 91.34%; }
}
.col-8 { 
    .col-7 { margin-right: 5.78%; width: 86.78%; }
    .col-6 { margin-right: 5.78%; width: 73.56%; }
    .col-5 { margin-right: 5.78%; width: 60.33%; }
    .col-4 { margin-right: 5.78%; width: 47.11%; }
    .col-3 { margin-right: 5.78%; width: 33.89%; }
    .col-2 { margin-right: 5.78%; width: 20.66%; }
    .col-1 { margin-right: 5.78%; width: 7.44%; }
    .pre-1 { padding-left: 13.22%; }
    .pre-2 { padding-left: 26.44%; }
    .pre-3 { padding-left: 39.67%; }
    .pre-4 { padding-left: 52.89%; }
    .pre-5 { padding-left: 66.11%; }
    .pre-6 { padding-left: 79.34%; }
    .pre-7 { padding-left: 92.56%; }
    .suf-1 { padding-right: 13.22%; }
    .suf-2 { padding-right: 26.44%; }
    .suf-3 { padding-right: 39.67%; }
    .suf-4 { padding-right: 52.89%; }
    .suf-5 { padding-right: 66.11%; }
    .suf-6 { padding-right: 79.34%; }
    .suf-7 { padding-right: 92.56%; }
}
.col-9 { 
    .col-1 { margin-right: 5.1%; width: 6.57%; }
    .col-2 { margin-right: 5.1%; width: 18.25%; }
    .col-3 { margin-right: 5.1%; width: 29.93%; }
    .col-4 { margin-right: 5.1%; width: 41.61%; }
    .col-5 { margin-right: 5.1%; width: 53.25%; }
    .col-6 { margin-right: 5.1%; margin-right: 5.1%; width: 64.97%; }
    .col-7 { margin-right: 5.1%; width: 76.65%; }
    .col-8 { margin-right: 5.1%; width: 88.33%; }
    .pre-1 { padding-left: 11.67%; }
    .pre-2 { padding-left: 23.35%; }
    .pre-3 { padding-left: 35.03%; }
    .pre-4 { padding-left: 46.71%; }
    .pre-5 { padding-left: 58.35%; }
    .pre-6 { padding-left: 70.07%; }
    .pre-7 { padding-left: 81.75%; }
    .pre-8 { padding-left: 93.43%; }
    .suf-1 { padding-right: 11.67%; }
    .suf-2 { padding-right: 23.35%; }
    .suf-3 { padding-right: 35.03%; }
    .suf-4 { padding-right: 46.71%; }
    .suf-5 { padding-right: 58.35%; }
    .suf-6 { padding-right: 70.07%; }
    .suf-7 { padding-right: 81.75%; }
    .suf-8 { padding-right: 93.43%; }
}
.col-10 { 
    .col-9 { margin-right: 4.61%; width: 89.54%; }
    .col-8 { margin-right: 4.61%; width: 79.08%; }
    .col-7 { margin-right: 4.61%; width: 68.62%; }
    .col-6 { margin-right: 4.61%; width: 58.16%; }
    .col-5 { margin-right: 4.61%; width: 47.69%; }
    .col-4 { margin-right: 4.61%; width: 37.23%; }
    .col-3 { margin-right: 4.61%; width: 26.77%; }
    .col-2 { margin-right: 4.61%; width: 16.31%; }
    .col-1 { margin-right: 4.61%; width: 5.85%; }
    .pre-1 { padding-left: 10.46%; }
    .pre-2 { padding-left: 20.92%; }
    .pre-3 { padding-left: 31.38%; }
    .pre-4 { padding-left: 41.84%; }
    .pre-5 { padding-left: 52.3%; }
    .pre-6 { padding-left: 62.77%; }
    .pre-7 { padding-left: 73.23%; }
    .pre-8 { padding-left: 83.69%; }
    .pre-9 { padding-left: 94.06%; }
    .suf-1 { padding-right: 10.46%; }
    .suf-2 { padding-right: 20.92%; }
    .suf-3 { padding-right: 31.38%; }
    .suf-4 { padding-right: 41.84%; }
    .suf-5 { padding-right: 52.3%; }
    .suf-6 { padding-right: 62.77%; }
    .suf-7 { padding-right: 73.23%; }
    .suf-8 { padding-right: 83.69%; }
    .suf-9 { padding-right: 94.06%; }
}
.col-11 { 
    .col-10 { margin-right: 4.14%; width: 90.54%; }
    .col-9 { margin-right: 4.14%; width: 81.07%; }
    .col-8 { margin-right: 4.14%; width: 71.6%; }
    .col-7 { margin-right: 4.14%; width: 62.1%; }
    .col-6 { margin-right: 4.14%; width: 52.66%; }
    .col-5 { margin-right: 4.14%; width: 43.2%; }
    .col-4 { margin-right: 4.14%; width: 33.73%; }
    .col-3 { margin-right: 4.14%; width: 24.26%; }
    .col-2 { margin-right: 4.14%; width: 14.79%; }
    .col-1 { margin-right: 4.14%; width: 5.32%; }
    .pre-1 { padding-left: 9.46%; }
    .pre-2 { padding-left: 18.93%; }
    .pre-3 { padding-left: 28.4%; }
    .pre-4 { padding-left: 37.87%; }
    .pre-5 { padding-left: 47.34%; }
    .pre-6 { padding-left: 56.8%; }
    .pre-7 { padding-left: 66.24%; }
    .pre-8 { padding-left: 75.74%; }
    .pre-9 { padding-left: 85.21%; }
    .pre-10 { padding-left: 94.68%; }
    .suf-1 { padding-right: 9.46%; }
    .suf-2 { padding-right: 18.93%; }
    .suf-3 { padding-right: 28.4%; }
    .suf-4 { padding-right: 37.87%; }
    .suf-5 { padding-right: 47.34%; }
    .suf-6 { padding-right: 56.8%; }
    .suf-7 { padding-right: 66.24%; }
    .suf-8 { padding-right: 75.74%; }
    .suf-9 { padding-right: 85.21%; }
    .suf-10 { padding-right: 94.68%; }
}
.pre-1 { padding-left: 8.65%;}
.pre-2 { padding-left: 17.3%;}
.pre-3 { padding-left: 25.95%;}
.pre-4 { padding-left: 34.6%;}
.pre-5 { padding-left: 43.25%;}
.pre-6 { padding-left: 51.9%;}
.pre-7 { padding-left: 60.55%;}
.pre-8 { padding-left: 69.2%;}
.pre-9 { padding-left: 77.85%;}
.pre-10 { padding-left: 86.5%;}
.pre-11 { padding-left: 95.15%;}
.suf-1 { padding-right: 8.65%;}
.suf-2 { padding-right: 17.3%;}
.suf-3 { padding-right: 25.95%;}
.suf-4 { padding-right: 34.6%;}
.suf-5 { padding-right: 43.25%;}
.suf-6 { padding-right: 51.9%;}
.suf-7 { padding-right: 60.55%;}
.suf-8 { padding-right: 69.2%;}
.suf-9 { padding-right: 77.85%;}
.suf-10 { padding-right: 86.5%;}
.suf-11 { padding-right: 95.15%;}

/*
-------------------------------
Columnal - vertical spacing options */

.margin-top-5 {margin-top: 5px !important;}
.margin-top-15 {margin-top: 15px !important;}
.margin-top-25 {margin-top: 25px !important;}
.margin-top-30 {margin-top: 30px !important;}
.margin-top-35 {margin-top: 35px !important;}
.margin-top-45 {margin-top: 45px !important;}
.margin-top-60 {margin-top: 60px !important;}
.margin-top-90 {margin-top: 90px !important;}
.margin-top-120 {margin-top: 120px !important;}

.margin-bottom-5 {margin-bottom: 5px !important;}
.margin-bottom-15 {margin-bottom: 15px !important;}
.margin-bottom-25 {margin-bottom: 25px !important;}
.margin-bottom-30 {margin-bottom: 30px !important;}
.margin-bottom-35 {margin-bottom: 35px !important;}
.margin-bottom-45 {margin-bottom: 45px !important;}
.margin-bottom-60 {margin-bottom: 60px !important;}
.margin-bottom-90 {margin-bottom: 90px !important;}
.margin-bottom-120 {margin-bottom: 120px !important;}

.padding-top-15 {padding-top:15px !important;}
.padding-top-30 {padding-top:30px !important;}
.padding-top-45 {padding-top:45px !important;}
.padding-top-60 {padding-top:60px !important;}
.padding-top-90 {padding-top:90px !important;}
.padding-top-120 {padding-top:120px !important;}
.padding-top-130 {padding-top:130px !important;}

.padding-bottom-15 {padding-bottom:15px !important;}
.padding-bottom-30 {padding-bottom:30px !important;}
.padding-bottom-45 {padding-bottom:45px !important;}
.padding-bottom-60 {padding-bottom:60px !important;}
.padding-bottom-90 {padding-bottom:90px !important;}
.padding-bottom-120 {padding-bottom:120px !important;}
.padding-bottom-130 {padding-bottom:130px !important;}



/*
-------------------------------
Columnal - extras */

.clear, .clearboth {clear:both !important;}
.clearleft {clear:left !important;}
.clearright {clear:right !important;}

.textcenter {text-align:center;}
.textright {text-align:right;}
.textleft {text-align:left;}

/* this will insert a pseduo element clears floats for an element containing floated content */
.selfclear:after {clear:both; content:"."; display:block; height:0; visibility:hidden;}

.mobile-only {display: none;}

/* END COLUMNAL - CORE CODE
///////////////////////////////////////////// */












/* COLUMNAL - MOBILE
///////////////////////////////////////////// */

@media handheld, only screen and (max-width: 767px) {
    .row, .body, .container {
    width: 100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    }
    /* kill prefixes and suffixes, otherwise 1-column version breaks */
    .pre-1, .pre-2, .pre-3, .pre-4, .pre-5, .pre-6, .pre-7, .pre-8, .pre-9, .pre-10, .pre-11 {padding-left: 0;}
    .suf-1, .suf-2, .suf-3, .suf-4, .suf-5, .suf-6, .suf-7, .suf-8, .suf-9, .suf-10, .suf-11 {padding-right: 0;}

    /************************************************************************/

    /* cssgrid.net - mobile presets */
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
    .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        clear: both;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
        width: -moz-available;
    }


    /* Columnal - sub columns */
    .col-2 .col-1, 
    .col-3 .col-2, .col-3 .col-1,
    .col-4 .col-3, .col-4 .col-2, .col-4 .col-1,
    .col-5 .col-4, .col-5 .col-3, .col-5 .col-2, .col-5 .col-1,
    .col-6 .col-5, .col-6 .col-4, .col-6 .col-3, .col-6 .col-2, .col-6 .col-1,
    .col-7 .col-6, .col-7 .col-5, .col-7 .col-4, .col-7 .col-3, .col-7 .col-2, .col-7 .col-1,
    .col-8 .col-7, .col-8 .col-6, .col-8 .col-5, .col-8 .col-4, .col-8 .col-3, .col-8 .col-2, .col-8 .col-1,
    .col-9 .col-1, .col-9 .col-2, .col-9 .col-3, .col-9 .col-4, .col-9 .col-5, .col-9 .col-6, .col-9 .col-7, .col-9 .col-8,
    .col-10 .col-9, .col-10 .col-8, .col-10 .col-7, .col-10 .col-6, .col-10 .col-5, .col-10 .col-4, .col-10 .col-3, .col-10 .col-2, .col-10 .col-1,
    .col-11 .col-10, .col-11 .col-9, .col-11 .col-8, .col-11 .col-7, .col-11 .col-6, .col-11 .col-5, .col-11 .col-4, .col-11 .col-3, .col-11 .col-2, .col-11 .col-1,
    .col-12 .col-11, .col-12 .col-10, .col-12 .col-9, .col-12 .col-8, .col-12 .col-7, .col-12 .col-6, .col-12 .col-5, .col-12 .col-4, .col-12 .col-3, .col-12 .col-2, .col-12 .col-1 {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    /* .row {width: 100%;} */
    /* Type presets */
    .container h1 {margin:.5em 0 .5em;}
    .container h2 {margin:.5em 0 .535em;}
    .container h3 {margin:.5em 0 .57em;}
    .container h4 {margin:.5em 0 .615em;}
    .container h5 {margin:.5em 0 .67em;}
    .container h6 {margin:.5em 0 .8em;}

    /* .reverse {padding-top: 1em; margin-bottom: 1em;} */

    /* Columnal content control - use on any elements to show/hide content on mobile */
    .mobile-hide {display: none;}
    .mobile-only {display: block;}

    /*****************************************
       CUSTOM ADDITIONS FOR MOBILE SITE LAYOUT 
    *****************************************/

    

}
/* END COLUMNAL - MOBILE
///////////////////////////////////////////// */