// Add custom fonts declarations and typography rules here
// h1 -> h6, paragraphs, important, section and article headers, list disc styles, ...
// http://thesassway.com/advanced/modular-css-typography

@font-face {
    font-family: 'LatoLatin';
    src: url('#{$text-font-path}.eot'); /* IE9 Compat Modes */
    src: url('#{$text-font-path}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$text-font-path}.woff') format('woff'), /* Modern Browsers */
         url('#{$text-font-path}.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
	font-family: $font-family;
}

h1, h2, h3, h4, h5 {
	font-family: $header-font-family;
  	color: #34495e;
}