section#home {
  .row {
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 2rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 200rem;
  }

  .colored-typo-showcase {
    background: #fafafa;
    border: solid 1px #ddd;
    padding: 1em;
    border-radius: 3px;
  }

  .colored-grid-showcase {


    .row .columns {
      background: #eee;
      border: 1px solid #ccc;
      padding: 1em;
    }

    .row .columns:nth-child(2),
    .row .columns.small-centered,
    .row .columns.large-centered {
      background: #ddd;
    }
  }
}
