<section id="home">
  <h1>Home</h1>

  <h2>{{helloWorld.Message}}</h2>

  <div class="row">
    <form class="colored-typo-showcase clearfix">

      <div class="large-2 medium-3 columns">
        <p><a href="#fakelink" class="btn">Default Button</a></p>
        <p><a href="#fakelink" class="btn btn-warning"><span class="fui-alert-circle"></span> Warning Button</a></p>
        <p><a href="#fakelink" class="btn btn-success"><span class="fui-check"></span> Success Button</a></p>
        <p><a href="#fakelink" class="btn btn-error"><span class="fui-cross"></span> Error Button</a></p>
      </div>

      <div class="large-3 medium-3 columns">
        <p><input type="text" placeholder="Inactive"></p>
        <p><input type="text" placeholder="Error" class="input-error"></p>
        <p><input type="text" placeholder="Success" class="input-success"></p>
        <p><input type="text" placeholder="Disabled" disabled="disabled"></p>
      </div>

      <div class="large-3 medium-2 columns"><br>
          <checkbox name="checkBox1" value="no">Unchecked</checkbox><br>
          <checkbox name="checkBox1" value="yes" checked="checked">Checked</checkbox><br>
          <checkbox name="checkBox2" value="yes" disabled="disabled">Disabled unchecked</checkbox><br>
          <checkbox name="checkBox2" value="no" checked="checked" disabled="disabled">Disabled checked</checkbox>

          <br>

          <dropdown label="Choose your option" class="cs-skin" ng-model="options">
          </dropdown>

          <br>

          <dropdown label="Choose your option" class="cs-skin-boxes" ng-model="options">
          </dropdown>

      </div>

      <div class="large-3 medium-2 columns"><br>
        <radio name="radioBox1" value="off">Radio is off</radio><br>
        <radio name="radioBox1" value="on" checked="checked">Radio is on</radio><br>
        <radio name="radioBox2" value="off" disabled="disabled">Disabled radio is off</radio><br>
        <radio name="radioBox2" value="on" checked="checked" disabled="disabled">Disabled radio is on</radio>
      </div>

    </form>
  </div>


  <h2>Responsive Grid</h2>
  <section class="colored-grid-showcase">

    <div class="row">
      <div class="small-2 large-4 columns">4</div>
      <div class="small-4 large-4 columns">4</div>
      <div class="small-6 large-4 columns">4</div>
    </div>
    <div class="row">
      <div class="large-3 columns">3</div>
      <div class="large-6 columns">6</div>
      <div class="large-3 columns">3</div>
    </div>
    <div class="row">
      <div class="small-6 large-2 columns">2</div>
      <div class="small-6 large-8 columns">8</div>
      <div class="small-12 large-2 columns">2</div>
    </div>
    <div class="row">
      <div class="small-3 columns">3</div>
      <div class="small-9 columns">9</div>
    </div>
    <div class="row">
      <div class="large-4 columns">4</div>
      <div class="large-8 columns">8</div>
    </div>
    <div class="row">
      <div class="small-6 large-5 columns">5</div>
      <div class="small-6 large-7 columns">7</div>
    </div>
    <div class="row">
      <div class="large-6 columns">6</div>
      <div class="large-6 columns">6</div>
    </div>

  </section>

  <section class="colored-typo-showcase">
    <h1>Typography</h1>
    <h2>The big bad wolf jumps over silly sheep</h2>
    <h3>It's the wrong way to think but the right way to win.</h3>
    <h4>Risk is security in life and unreason is better than reason</h4>
    <h4>
      ĀāĂăĄąĆćĈĉĊċČčĎďĐđĒēĔĕĖėĘęĚěĜĝĞğĠġĢģĤĥĦħĨĩĪīĬĭĮįİıĲĳĴĵĶķĸĹĺĻļĽľĿŀŁł<br>
      ŃńŅņŇňŉŊŋŌōŎŏŐőŒœŔŕŖŗŘřŚśŜŝŞşŠšŢţŤťŦŧŨũŪūŬŭŮůŰűŲųŴŵŶŷŸŹźŻżŽž
    </h4>
  </section>




  <h2>Block Grid</h2>
  <h3>3 elements</h3>
  <div class="row">
    <div class="large-12 columns">
      <ul class="small-block-grid-3">
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/satelite.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/space.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/spacewalk.jpg" /></li>
      </ul>
    </div>
  </div>

  <h3>5 elements</h3>
  <div class="row">
    <div class="large-12 columns">
      <ul class="small-block-grid-5">
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/satelite.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/space.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/spacewalk.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/earth.jpg" /></li>
        <li><img src="http://foundation.zurb.com/docs/assets/img/examples/comet.jpg" /></li>
      </ul>
    </div>
  </div>

</section>
